{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block preload %}
    <link rel="preload" href="/img/miscellaneous/background-contacter.jpg" as="image">
    <link rel="preload" href="/img/logo.png" as="image">
    <link rel="preload" href="/img/ticket.svg" as="image">
    <link rel="preload" href="/img/reservation.svg" as="image">
    <link rel="preload" href="/img/plan.svg" as="image">
    <link rel="preload" href="/img/animals.svg" as="image">
    <link rel="preload" href="/img/program.svg" as="image">
    <link rel="preload" href="/img/ticket.svg" as="image">
    <link rel="preload" href="/img/arrow-right.svg" as="image">
{% endblock %}

{% block style %}
    header > .frame {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 15.57%), radial-gradient(193.44% 113.09% at 0% 0%, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%), url("/img/miscellaneous/background-contacter.jpg"), lightgray 50% / cover no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
{% endblock %}

{% block body %}
    {{ include('home/_header.html.twig', {titre: 'Nous contacter', description: 'Pour suivre nos réseaux ou avoir des renseignements, n’hésitez pas à nous contacter !'}, with_context=false) }}

    <section class="nousContacter">
        <div class="contacte">
            <h2>Nos adresses<br>Pour pouvoir nous contacter</h2>
        </div>
        <div class="liens">
            <div class="lien">
                <svg width="51" height="50" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.3148 4.16699H33.8148C40.4814 4.16699 45.8981 9.58366 45.8981 16.2503V33.7503C45.8981 36.955 44.6251 40.0285 42.359 42.2945C40.0929 44.5606 37.0195 45.8337 33.8148 45.8337H16.3148C9.64811 45.8337 4.23145 40.417 4.23145 33.7503V16.2503C4.23145 13.0456 5.50451 9.97218 7.77057 7.70612C10.0366 5.44005 13.1101 4.16699 16.3148 4.16699ZM15.8981 8.33366C13.909 8.33366 12.0013 9.12384 10.5948 10.5304C9.18829 11.9369 8.39811 13.8445 8.39811 15.8337V34.167C8.39811 38.3128 11.7523 41.667 15.8981 41.667H34.2314C36.2206 41.667 38.1282 40.8768 39.5348 39.4703C40.9413 38.0638 41.7314 36.1561 41.7314 34.167V15.8337C41.7314 11.6878 38.3773 8.33366 34.2314 8.33366H15.8981ZM36.0023 11.4587C36.6929 11.4587 37.3553 11.733 37.8437 12.2214C38.3321 12.7098 38.6064 13.3722 38.6064 14.0628C38.6064 14.7535 38.3321 15.4159 37.8437 15.9043C37.3553 16.3926 36.6929 16.667 36.0023 16.667C35.3116 16.667 34.6492 16.3926 34.1609 15.9043C33.6725 15.4159 33.3981 14.7535 33.3981 14.0628C33.3981 13.3722 33.6725 12.7098 34.1609 12.2214C34.6492 11.733 35.3116 11.4587 36.0023 11.4587ZM25.0648 14.5837C27.8275 14.5837 30.477 15.6811 32.4305 17.6346C34.384 19.5881 35.4814 22.2377 35.4814 25.0003C35.4814 27.763 34.384 30.4125 32.4305 32.366C30.477 34.3195 27.8275 35.417 25.0648 35.417C22.3021 35.417 19.6526 34.3195 17.6991 32.366C15.7456 30.4125 14.6481 27.763 14.6481 25.0003C14.6481 22.2377 15.7456 19.5881 17.6991 17.6346C19.6526 15.6811 22.3021 14.5837 25.0648 14.5837ZM25.0648 18.7503C23.4072 18.7503 21.8175 19.4088 20.6454 20.5809C19.4733 21.753 18.8148 23.3427 18.8148 25.0003C18.8148 26.6579 19.4733 28.2476 20.6454 29.4197C21.8175 30.5918 23.4072 31.2503 25.0648 31.2503C26.7224 31.2503 28.3121 30.5918 29.4842 29.4197C30.6563 28.2476 31.3148 26.6579 31.3148 25.0003C31.3148 23.3427 30.6563 21.753 29.4842 20.5809C28.3121 19.4088 26.7224 18.7503 25.0648 18.7503Z" fill="black"/>
                </svg>
                <p><strong><u>Instagram</u></strong></p>
                <a href="https://www.instagram.com/zooagueran">instagram.com/zooagueran</a>
            </div>

            <div class="lien">
                <svg width="51" height="50" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.93099 39.5837C8.97266 39.5837 8.17266 39.2628 7.53099 38.6212C6.88793 37.9781 6.56641 37.1774 6.56641 36.2191V13.7816C6.56641 12.8232 6.88793 12.0232 7.53099 11.3816C8.17266 10.7385 8.97266 10.417 9.93099 10.417H40.7018C41.6602 10.417 42.4602 10.7385 43.1018 11.3816C43.7449 12.0232 44.0664 12.8232 44.0664 13.7816V36.2191C44.0664 37.1774 43.7456 37.9774 43.1039 38.6191C42.4608 39.2621 41.6602 39.5837 40.7018 39.5837H9.93099ZM25.3164 25.2399L8.64974 14.3441V36.2191C8.64974 36.5927 8.76988 36.8996 9.01016 37.1399C9.25043 37.3802 9.55738 37.5003 9.93099 37.5003H40.7018C41.0754 37.5003 41.3824 37.3802 41.6227 37.1399C41.8629 36.8996 41.9831 36.5927 41.9831 36.2191V14.3441L25.3164 25.2399ZM25.3164 22.917L41.3414 12.5003H9.29141L25.3164 22.917ZM8.64974 14.3441V12.5003V36.2191C8.64974 36.5927 8.76988 36.8996 9.01016 37.1399C9.25043 37.3802 9.55738 37.5003 9.93099 37.5003H8.64974V14.3441Z" fill="black"/>
                </svg>
                <p><strong><u>Courriel</u></strong></p>
                <a href="mailto:mail@zoo-agueran.com">mail@zoo-agueran.com</a>
            </div>

            <div class="lien">
                <svg width="51" height="50" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.7747 10.4168C14.7742 11.5219 14.3347 12.5815 13.5529 13.3625C12.7711 14.1435 11.7111 14.5819 10.606 14.5814C9.50092 14.5808 8.44133 14.1413 7.66032 13.3595C6.87931 12.5777 6.44085 11.5177 6.44141 10.4126C6.44196 9.30756 6.88148 8.24797 7.66327 7.46696C8.44506 6.68595 9.50509 6.24749 10.6102 6.24805C11.7152 6.2486 12.7748 6.68812 13.5558 7.46991C14.3368 8.2517 14.7753 9.31173 14.7747 10.4168ZM14.8997 17.6668H6.56641V43.7501H14.8997V17.6668ZM28.0664 17.6668H19.7747V43.7501H27.9831V30.0626C27.9831 22.4376 37.9206 21.7293 37.9206 30.0626V43.7501H46.1497V27.2293C46.1497 14.3751 31.4414 14.8543 27.9831 21.1668L28.0664 17.6668Z" fill="black"/>
                </svg>
                <p><strong><u>Linkedin</u></strong></p>
                <a href="https://www.linkedin.com/in/zoo-agueran">linkedin.com/in/zoo-agueran</a>
            </div>
            <div class="lien">
                <svg width="51" height="50" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.5212 12.125C34.097 10.4992 33.3122 8.41132 33.3128 6.25H26.8753V32.0833C26.8257 33.4813 26.2355 34.8055 25.229 35.777C24.2225 36.7484 22.8783 37.2915 21.4795 37.2917C18.5212 37.2917 16.0628 34.875 16.0628 31.875C16.0628 28.2917 19.5212 25.6042 23.0837 26.7083V20.125C15.8962 19.1667 9.60449 24.75 9.60449 31.875C9.60449 38.8125 15.3545 43.75 21.4587 43.75C28.0003 43.75 33.3128 38.4375 33.3128 31.875V18.7708C35.9232 20.6455 39.0573 21.6513 42.2712 21.6458V15.2083C42.2712 15.2083 38.3545 15.3958 35.5212 12.125Z" fill="black"/>
                </svg>
                <p><strong><u>Tiktok</u></strong></p>
                <a href="https://www.tiktok.com/@zooagueran">tiktok.com/@zooagueran</a>
            </div>

            <div class="lien">
                <svg width="51" height="50" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.4296 26.8878L34.4817 27.8315C34.4817 27.8315 32.2255 30.0732 26.0692 23.9524C19.913 17.8315 22.1692 15.5899 22.1692 15.5899L22.7651 14.994C24.238 13.5315 24.3776 11.1815 23.0921 9.46487L20.4671 5.95862C18.8755 3.83362 15.8026 3.55237 13.9796 5.36487L10.7088 8.61487C9.80673 9.51487 9.20256 10.6774 9.27548 11.969C9.46298 15.2753 10.9588 22.3857 19.3005 30.6815C28.1484 39.4774 36.4505 39.8274 39.8442 39.5107C40.9192 39.4107 41.8526 38.8649 42.6047 38.1149L45.563 35.1732C47.563 33.1878 47.0005 29.7815 44.4422 28.392L40.463 26.2274C38.7838 25.317 36.7422 25.5836 35.4296 26.8878Z" fill="black"/>
                </svg>
                <p><strong><u>Téléphone</u></strong></p>
                <a href="tel:+33 03 26 91 30 02">+33 03 26 91 30 02</a>
            </div>
            <div class="lien">
                <svg width="51" height="50" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M46.1501 25.0003C46.1501 13.5003 36.8167 4.16699 25.3167 4.16699C13.8167 4.16699 4.4834 13.5003 4.4834 25.0003C4.4834 35.0837 11.6501 43.4795 21.1501 45.417V31.2503H16.9834V25.0003H21.1501V19.792C21.1501 15.7712 24.4209 12.5003 28.4417 12.5003H33.6501V18.7503H29.4834C28.3376 18.7503 27.4001 19.6878 27.4001 20.8337V25.0003H33.6501V31.2503H27.4001V45.7295C37.9209 44.6878 46.1501 35.8128 46.1501 25.0003Z" fill="black"/>
                </svg>
                <p><strong><u>Facebook</u></strong></p>
                <a href="https://www.facebook.com/zoo.agueran">facebook.com/zoo.agueran</a>
            </div>
        </div>
    </section>
{% endblock %}