{% extends 'base.html.twig' %}

{% block title %}Accès non autorisé{% endblock %}

{% block preload %}
    <link rel="preload" href="/img/authentification/background-acces.jpg" as="image">
    <link rel="preload" href="/img/logo.png" as="image">
    <link rel="preload" href="/img/ticket.svg" as="image">
    <link rel="preload" href="/img/reservation.svg" as="image">
    <link rel="preload" href="/img/plan.svg" as="image">
    <link rel="preload" href="/img/animals.svg" as="image">
    <link rel="preload" href="/img/program.svg" as="image">
    <link rel="preload" href="/img/ticket.svg" as="image">
    <link rel="preload" href="/img/arrow-right.svg" as="image">
{% endblock %}

{% block style %}
    header > .frame {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 15.57%), radial-gradient(193.44% 113.09% at 0% 0%, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%), url("/img/authentification/background-acces.jpg"), lightgray 50% / cover no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
{% endblock %}

{% block body %}
    {{ include('home/_header.html.twig', {titre: 'Accès non autorisé', description: '', connexion_route: true}, with_context=false) }}

    <section class="text">
        <div class="header">
            <p><strong>Accès non autorisé</strong></p>
        </div>
        <div>
            <p>Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
            <p>Si vous pensez qu'il s'agit d'une erreur, veuillez contacter un administrateur.</p>
        </div>
    </section>
{% endblock %}
